# Local development files
*.cache
/build/
/cache/
/dist/
/logs/
/temp/

# NPM/ Yarn
node_modules/
package-lock.json
npm-debug.log
yarn-error.log

# Docker
/docker-compose*.override.yml
/docker/@*

# Env
*.env
.env.*
!.env.example

# Editor/ IDE
*.code-workspace
.vscode
.idea
.project
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System files
.DS_Store
Thumbs.db
