@use 'sass:list';
@use 'sass:meta';
@use 'sass:string';

@mixin presence($status, $delay: 0s) {
  @if 'off' == $status {
    visibility: hidden;
    pointer-events: none;
    transition-property: visibility pointer-events;
    transition-delay: $delay;

    @content;
  } @else if 'on' == $status {
    visibility: unset;
    pointer-events: unset;
    transition-delay: $delay;

    @content;
  }
}

@mixin hide-visually($toggle: 'hide') {
  @if not list.index('hide' 'unhide', $toggle) {
    @error "`#{$toggle}` is not a valid value for the `$toggle` argument in " +
      "the `hide-visually` mixin. Must be either `hide` or `unhide`.";
  } @else if $toggle == 'hide' {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  } @else if $toggle == 'unhide' {
    clip: auto;
    clip-path: none;
    height: auto;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
  }
}
