$square: calc(1 / 1);
$half: calc(1 / 2);
$double: calc(2 / 1);
$hd: calc(16 / 9);
$hd-rotate: calc(9 / 16);
$sd: calc(4 / 3);
$flat: calc(1.85 / 1);
$cinema: calc(2.39 / 1);
$phone: calc(9 / 19.5);
$phone-rotate: calc(19.5 / 9);
